.landing-stat {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  border-style: solid;
  border-color: #d9d9d9;
  width: 285px;
}

.landing-stat h2 {
  padding: 10px;
}

.landing-stat h3 {
  font-style: italic;
  padding: 10px;
  width: 200px;
}
