* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-body {
  padding: 40px;
}

.profile-user-info {
  background-color: #d9d9d9;
  margin-top: 20px;
  width: 70%;
  border-radius: 8px;
}

.profile-user-header {
  display: flex;
  justify-content: left;
  direction: row;
  padding: 20px;
  margin-left: 20px;
  gap: 20px;
}

.profile-user-img {
  margin-top: 5px;
  border-style: solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-user-field-section {
  border-top-style: solid;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  gap: 20px;
}

.profile-user-fields {
  margin: 20px 0;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.profile-WLogo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
  margin-right: 40px;
}

.profile-main {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.profile-side-box {
  margin-top: 20px;
  width: 30%;
  background: #d9d9d9;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profile-side-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 20px;
}

.profile-side-section {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex: 1;
}

.profile-user-upload-img {
  margin-top: 5px;
  border-style: solid;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-user-save-changes {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex: 1;
}

.profile-user-save-changes p {
  width: 200px;
}
