.landing-instruction {
  background-color: white;
  width: 300px;
  border-radius: 8px;
}

.landing-instruction h3 {
  padding-top: 20px;
}

.landing-instruction h6 {
  font-size: 18px;
  font-weight: normal;
  padding: 30px;
}
