.quest-card {
  background-color: white;
  border-width: 1px;
  border-radius: 8px;
  border-style: solid;
  border-color: #d9d9d9;
  width: 700px;
  padding: 20px;
}

.quest-card h3,
h4 {
  text-align: left;
  margin-bottom: 20px;
}

.quest-card h4 {
  font-weight: normal;
  font-size: 18px;
}

.quest-card-tags {
  display: flex;
  direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.quest-card-tags span {
  background-color: #424242;
  color: white;
  border-radius: 90px;
  padding-left: 20px;
  padding-right: 20px;
}

.quest-card-btn {
  display: flex;
  justify-content: flex-end;
}
