* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sharedNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #424242;
  width: 100%;
}

.sharedNav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.sharedNav-logo-img {
  width: 100px;
  height: auto;
}

.sharedNav-logo span {
  color: #f46530;
}

.sharedNav-links {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  font-size: large;
  font-weight: bold;
}

.sharedNav-links.active {
  color: #f46530;
}
