.primary-button {
  background-color: #f46530;
  color: #fff;
  border-style: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.primary-button:hover {
  background-color: rgba(244, 101, 48, 0.9);
  cursor: pointer;
}

.primary-button:active {
  transform: scale(0.95);
}

.secondary-button {
  background-color: #ffd07b;
  color: #000;
  border-style: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.secondary-button:hover {
  background-color: rgba(255, 208, 123, 0.9);
  cursor: pointer;
}

.secondary-button:active {
  transform: scale(0.95);
}
